<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>EMOTION_DETECTION_API</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='assets/icon.ico')}}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet" />
    <title>Document</title>
</head>
<body style ="background-color:#ffffff;">

    <img src="{{url_for('static',filename='assets/subsription.gif')}}" alt="this slowpoke moves"  style=" display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; background:no-repeat;"/>


<h2 class="text-black mb-5" style="text-align:center;">Thanks for subscribing , a confirmation mail has been sent to your mail address</h2>
<div></div>
<a type = "button"  class="btn btn-primary " href="http://localhost:5000" style =" display: block;
margin-left: auto;
margin-right: auto;
width:50%">GET BACK </a>
    
</body>
</html>